<img src=images/gdd-logo.png align=right width=300px>

# Data types

In programming, data types are an important concept.

In this section, we are going to cover:

* [Data types overview](#type-overview)
* [Checking the type](#type-check)
* [Calculations using ints and floats](#ints-floats)
* [Strings](#strings)
    - [String operations](#string-op) 
    - [String methods](#string-method)
* [Using the in operator](#in-operator)
* [Booleans (or bools)](#bools)
* [Converting to another data type](#convert)
* <mark>[Exercise: Change the sentence](#exercise)</mark>


<a id='type-overview'></a> 
## Data types overview

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, we're going to look at:

Numeric:
* `int`: integers AKA *whole numbers*, e.g. `0`, `1`, `2`, `3`, ...
* `float`: floating point numbers AKA *numbers with decimals*, e.g. `0.1234`, `1.2354`, ...
* `bool`: booleans AKA things that can either be `True` or `False`

Non-numeric/text:
* `str`: strings AKA *text*, e.g. `"hello, this is a string"`

![numbers](images/numbers.png)

<a id = 'type-check'></a>
## Checking the type

You can get the data type of any object by using the type() function:
```python
>> var = 3
>> type(var)
int
```
<mark>**Practice:** What is the type of each of these variables?</mark>
    
- Add what you think in a comment (e.g. `# integer`) at the end of each line
- Use `type()` to check if you were right!

In [ ]:
q = 2 # integer
w = 2.4
e = '24.5'
r = 4.
t = True
y = "Hello world!"

In [ ]:
# try it out here

<a id='ints-floats'></a> 
## Calculations using ints and floats
You can perform all kinds of mathematical operations in Python:

In [ ]:
q + w

<mark>**Practice:** Try the following operations and print the results:</mark>
1. Subtract `w` from `r`
2. Multiply `r` and `q`
3. Divide `r` by `w`
3. Calculate the square (`**2`) and square root (`**0.5`) of `q`

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(r - w)
print(r * q)
print(r / w)
print(q ** 2, q ** 0.5)
```

</details>

Python respects the order of mathematical operations:

In [ ]:
r + 10 * q

You can use the modulo operator to find the remainder following a division. This can be a useful operation when working with Python.

In [ ]:
# 5 divided by 3 has remainder 2
5 % 3

<mark>**Question:** What would be outcome of `12 % 4?` Think of your answer first and then try it out below:</mark>

In [ ]:
# try it out!

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
The outcome would be 0, because 12 can be divided by 4 without any remainder.

</details>

You can incrementally update variables in Python:

In [ ]:
z = 0

In [ ]:
# summation
z = z + 1
z

In [ ]:
z += 1
z

<mark>**Question:** How would you incrementally update `z` to do:</mark> 
1. Subtraction
2. Multiplication
3. Division

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
z -= 5
z *= 10
z /= 2
```
</details>

<a id='strings'></a> 
## Strings

String literals in python are surrounded by either single quotation marks, or double quotation marks.

    'hello' is the same as "hello".

In [ ]:
greeting = "Hello"
thing = 'World'

In [ ]:
print(greeting)
print(thing)

In [ ]:
print(greeting, thing)

You can also concatenate strings together using the `+`!

In [ ]:
print(greeting + thing + '!')

<mark>**Question:** What's the difference between using a comma and using the plus sign when printing multiple variables?<mark>

...

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
Using a comma will add a space between the variables, which the plus will not do.

</details>

<a id='string-op'></a> 
### String operators

You've now seen that the `+` operator also works for strings. 

<mark>**Practice:** How about the other operators? Try to:</mark>
1. Multiply `number` by the integer `2`
2. Divide `number` by the integer `3`
3. Subtract the string`'2'` from `number`

**Note:** Not all will work. Which ones do?

In [ ]:
number = '12'

print(number + '3')
# add the other operators

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(number * 2) # result: '1212'
print(number / 3) # result: error
print(number - '2') # result: error
```
    
The string operations that work are addition and multiplication.

</details>

<a id='string-method'></a> 
### String methods

We can use methods to alter objects.

The methods we can use for strings are:

* `.lower()`: converts the string to lowercase
* `.upper()`: CONVERTS THE STRING TO UPPERCASE
* `.title()`: Capitalizes Every First Letter
* `.capitalize()`: Capitalizes only the first letter. even in multiple sentences
* `.split()`: ['converts', 'the', 'string', 'into', 'a', 'list', 'of', 'words']
* `.replace()`: replaces part of the string with something else (you must specify what!)

In [ ]:
sentence = "hello there, my name is "
name = "lucy sheppard"

<mark>**Practice:** What results do you expect to get for the following methods?</mark>

Think about it first and then run the cell.

In [ ]:
sentence.capitalize()

In [ ]:
sentence.split()

In [ ]:
sentence.split(",")

In [ ]:
name.replace("sheppard", "potter")

<a id='in-operator'></a> 
## Using the in operator

You check whether a string is part of a larger string by using the `in` operator.

In [ ]:
'a' in 'amsterdam'

<mark>**Questions**:</mark>
1. What result do you get when checking if the string above contains `'A'`? Why?
2. What is the type of the output?

In [ ]:
# add your code here

Answer:

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
1. The result is `False`, because it is case-sensitive.
2. The type is a boolean (bool).

</details>

<a id='bools'></a> 
## Booleans (or bools)

A boolean is returned when checking for conditions.

In [ ]:
temp = 19

temp > 20

In [ ]:
type(temp > 20)

<mark>**Questions:** What results do you get for the following conditions:</mark>
1. `temp` is equal to 25 (`==`)
2. `temp` is smaller or equal to 19 (`<=`)
3. `temp` is not equal to 19 (`!=`)

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(temp == 25) # result: False
print(temp <= 19) # result: True
print(temp != 19) # result: False
```

</details>

<a id = 'convert'></a>
## Converting to another data type

Need to convert a data type? The following functions will be really useful:

```python
float()
int()
str()
bool()
```

In [ ]:
float("56")

<mark>**Practice**: Try the following:</mark>
1. Turn `a` into a string.
2. Try turning `b` into a float. Is it possible?
3. Why does `c + d` error? How can you fix it?
4. **Bonus:** explore what happens when you try to convert numbers or strings into a `bool`.

In [ ]:
a = 4754
b = "I'm not a float"
c = "I love the number"
d = 7

In [ ]:
# add your code here

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
```python
print(str(a))
print(float(b)) # will give an error
print(c + str(d))
```
    
The value you want to convert needs to be able to be that type. For example a string `"56.43"` can be converted into a `float` but `"I am not a float"` cannot!

</details>

<a id='exercise'></a>
## <mark> Exercise: Change the sentence </mark>

Use what you know about data types and string methods to print the following sentence:

`Hello everyone, my name is Taylor Swift. I am 35 and it was 2006 when my first album came out.`

In [ ]:
greeting = 'hello everyone,'
my_name_is = 'MY NAME IS'
name = 'taylor swift'
age = 35.0
year_of_first_album = "and it was 2006 when my first SINGLE came out."

In [ ]:
# add your code here

<mark>**Bonus:**</mark> Print the following sentence:

`I am currently 1231231230 seconds old. `

In [ ]:
start_sentence = "I am currently"
first_num = 123
last_num = 0
end_sentence = 'Seconds Old.'

In [ ]:
# add your code here

**Answers:**

In [ ]:
# %load answers/ex-string-int.py

In [ ]:
# %load answers/ex-string-int2.py