<img src=images/gdd-logo.png width=300px align=right> 

# Aggregation in Pandas

This section covers all about aggregating with `df.groupby()`, including:

* [Grouped aggregation in pandas](#grouped-agg)
* [Single aggregations with `df.groupby()`](#groupby)
* [Multiple aggregations with `.agg()`](#mult-aggs)
* [<mark>Exercise: Using aggregations</mark>](#ex-aggs)

Let's import pandas and load the data again, since this is a new notebook.

In [1]:
import pandas as pd

chickweight = (
    pd.read_csv('data/chickweight.csv')
    .rename(str.lower, axis='columns')
)

To get statistics for the data you can use methods like:

* `df.describe()`: gives a selection of statistics for each numeric field
* `df.mean()`: calculates the mean of each column or row
* `df.max()`: calculates the max of each column or row
* `df.min()`: calculates the min of each column or row

In [ ]:
chickweight.describe()

In [ ]:
chickweight.mean()

<a id = 'grouped-agg'></a>
## Grouped Aggregation in Pandas

However, what if you want data about specific groups of the dataset, e.g. the mean weight for diet 2. In that case you need to ***aggregate*** the data.

Aggregation is the act of splitting up the original dataset to calculate statistics on sub-dataframes.

<img src="images/03_Aggregations/split-groupby-combine.png" width="440" height="440" align="center"/>

There are a few ways to do this in pandas:. 

<a id = 'groupby'></a>
## Single aggregations

To get the overall mean weight you can use:

In [2]:
(
    chickweight
    ['weight']
    .mean()
)

121.81833910034602

But what if you want to see what the mean weight is depending on the diet the chicken was on?

Then you first need to perform a `.groupby()` in order to split the data into those different diets.

In [3]:
(
    chickweight
    .groupby('diet')
    ['weight']
    .mean()
)

diet
1    102.645455
2    122.616667
3    142.950000
4    135.262712
Name: weight, dtype: float64

### <mark>Practice: Try out groupby</mark>

1. Find the minumum `weight` of the chickens at each `time` period.

In [5]:
(
    chickweight
    .groupby('time')
    ['weight']
    .mean()
)

time
0      41.060000
2      49.220000
4      59.959184
6      74.306122
8      91.244898
10    107.836735
12    129.244898
14    143.812500
16    168.085106
18    190.191489
20    209.717391
21    218.688889
Name: weight, dtype: float64

There are lots of statistics that can be applied to numerical columns, like:
* `.mean()`
* `.sum()`
* `.min()` and `.max()`
* `.first()`
* `.var()`
* `.size()`
* `.count()`

2. Try them out. What does each one do?</mark>

In [ ]:
(
   chickweight
    .groupby('chick')
    ['weight']
   .agg(["min","max","mean","sum","var","count",])
)

       min  max        mean   sum           var  count  count
chick
1       42  205  111.666667  1340   3332.969697     12     12
2       40  215  119.916667  1439   3881.901515     12     12
3       39  202  115.833333  1390   3686.151515     12     12
4       42  160   99.333333  1192   1905.333333     12     12
5       41  223  126.666667  1520   5237.151515     12     12
6       41  160  113.750000  1365   2201.295455     12     12
7       41  305  150.000000  1800   9129.272727     12     12
8       42  134   92.000000  1012   1064.000000     11     11
9       42  100   81.166667   974    424.696970     12     12
10      41  124   83.083333   997    831.901515     12     12
11      43  184  129.916667  1559   3156.265152     12     12
12      41  205  114.083333  1369   3701.356061     12     12
13      41   96   67.833333   814    266.515152     12     12
14      41  266  151.333333  1816   7323.696970     12     12
15      41   68   60.125000   481    107.839286      8      8
16      41   57   49.714286   348     28.904762      7      7
17      42  142   92.500000  1110   1033.545455     12     12
18      35   39   37.000000    74      8.000000      2      2
19      43  157   86.750000  1041   1406.386364     12     12
20      41  117   78.416667   941    704.628788     12     12
21      40  331  184.500000  2214  12209.000000     12     12
22      41  167  104.250000  1251   1752.204545     12     12
23      43  175  111.416667  1337   2256.446970     12     12
24      42   76   66.250000   795    107.295455     12     12
25      40  265  143.083333  1717   6520.265152     12     12
26      42  251  131.000000  1572   5263.090909     12     12
27      39  192  110.416667  1325   2758.628788     12     12
28      39  233  129.916667  1559   4777.174242     12     12
29      39  309  141.833333  1702   8348.515152     12     12
30      42  157  103.500000  1242   1774.818182     12     12
31      42  256  128.583333  1543   5310.992424     12     12
32      41  305  157.583333  1891   8924.446970     12     12
33      39  156  109.750000  1317   1862.022727     12     12
34      41  341  168.833333  2026  11726.151515     12     12
35      41  373  193.166667  2318  15234.151515     12     12
36      39  227  134.916667  1619   5117.356061     12     12
37      41  178  102.500000  1230   2293.727273     12     12
38      41  290  142.333333  1708   7722.424242     12     12
39      42  272  134.250000  1611   6090.022727     12     12
40      41  321  157.583333  1891   9426.265152     12     12
41      42  204  128.416667  1541   3379.356061     12     12
42      42  281  149.083333  1789   7139.537879     12     12
43      42  200  143.000000  1716   3818.363636     12     12
44      42  146  102.100000  1021   1532.100000     10     10
45      41  197  119.583333  1435   2990.265152     12     12
46      40  238  134.083333  1609   4803.537879     12     12
47      41  210  127.916667  1535   3544.628788     12     12
48      39  322  157.666667  1892   9810.424242     12     12
49      40  237  137.750000  1653   4750.931818     12     12
50      41  264  147.500000  1770   6527.181818     12     12

In [ ]:
# %load answers/03_Aggregations/practice-aggs.py

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
* `.mean()`: Return the mean of the values 
* `.sum()`: Return the sum of the values 
* `.min()` and `.max()`: Return the minimum or maximum of the values 
* `.first()`: Return the first non-null entry of each column
* `.var()`: Return the variance of each column
* `.size()`: Return the number of rows 
* `.count()`: Return the count of non-null entries of each column

</details>

<mark>**Question:** What happens to the index when you use groupby?</mark>

Answer:

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
Whatever column(s) you group on will become the new index. 

</details>

You can even perform aggregations when the data is grouped by **multiple** columns:

In [ ]:
(
    chickweight
    .groupby(['diet', 'time'])
    .mean()
)

If grouping by more than one column, the indices will be nested in a _multiindex_, with the order of the list items determining the hierarchy (e.g. `['diet', 'time']` will first group by diet and then within each diet by time).

To take those columns out of the index we can use the `.reset_index()` method.

<mark>**Question**: Why does the below code *not work* when you comment out `.reset_index()`?</mark>

In [ ]:
(
    chickweight
    .groupby(['time', 'diet'])
    .mean()
    .reset_index()
    .loc[lambda df: df['time'] == 10]
)

<details>
    
  <summary><span style="color:blue">Show answer</span></summary>
  
  Because we are using a filter on the column `time` and when we perform a `.groupby()` on `time` and `diet` these columns become the index of the resulting dataframe. Therefore we cannot filter as we would if they were *normal* columns. 
    
   When you use `.reset_index()` it resets the time and diet as columns and therefore they can be used in the filter.
    
    
   Sometimes this is fine, but sometime you might want to undo this operation by resetting the index. You can use `.reset_index()` at the end to do this.

   The index of a dataframe typically has different behavior than a column.

</details>

<a id = 'mult-aggs'></a>
## Multiple aggregations with `.agg()`

You can get the results for more than one aggregation by using a keyword for the name of the **output column** and a tuple to specificy the **old columns** and the **aggregator** to use. 

```python
df
.groupby('grouping_col')
.agg(output_col = ('old_col', 'aggregator'))
```

**Example**: Find the size of `chick` and mean value for `weight` when grouped by `time`

In [32]:
(
    chickweight
    .groupby('time')
    .agg(num_chickens = ('chick', 'size'), 
         weight_mean = ('weight', 'mean'),
        )
)

      num_chickens  weight_mean
time
0               50    41.060000
2               50    49.220000
4               49    59.959184
6               49    74.306122
8               49    91.244898
10              49   107.836735
12              49   129.244898
14              48   143.812500
16              47   168.085106
18              47   190.191489
20              46   209.717391
21              45   218.688889

Note: this way of aggregating became available in `pandas > 0.25`. To check your pandas version you can run the following cell:

In [33]:
pd.__version__

'2.2.3'

<a id = 'ex-aggs'></a>
### <mark>Exercise: Using aggregations</mark>

Determine the following aggregate information **per time period**:

- maximum chick id (use the chick column)
- median weight
- std (standard deviation) of weight

- any extras of your choice

**Bonus**: Once you have performed the `.groupby()`, filter the data to only show when the median weight exceeds `150g`.

In [44]:
(
    chickweight
    .groupby('chick')
    .agg(max_chicks = ('weight', 'max'), 
         weight_median = ('weight', 'median'),
         weight_std = ('weight', 'std'),
         weight_mean = ('weight', 'mean')

        ).round(0)
)

       max_chicks  weight_median  weight_std  weight_mean
chick
1             205          100.0        58.0        112.0
2             215          112.0        62.0        120.0
3             202          107.0        61.0        116.0
4             160           94.0        44.0         99.0
5             223          124.0        72.0        127.0
6             160          132.0        47.0        114.0
7             305          129.0        96.0        150.0
8             134           93.0        33.0         92.0
9             100           91.0        21.0         81.0
10            124           85.0        29.0         83.0
11            184          154.0        56.0        130.0
12            205          104.0        61.0        114.0
13             96           68.0        16.0         68.0
14            266          146.0        86.0        151.0
15             68           66.0        10.0         60.0
16             57           51.0         5.0         50.0
17            142           94.0        32.0         92.0
18             39           37.0         3.0         37.0
19            157           76.0        38.0         87.0
20            117           75.0        27.0         78.0
21            331          190.0       110.0        184.0
22            167          102.0        42.0        104.0
23            175          115.0        48.0        111.0
24             76           70.0        10.0         66.0
25            265          135.0        81.0        143.0
26            251          125.0        73.0        131.0
27            192          108.0        53.0        110.0
28            233          130.0        69.0        130.0
29            309          120.0        91.0        142.0
30            157          106.0        42.0        104.0
31            256          112.0        73.0        129.0
32            305          144.0        94.0        158.0
33            156          124.0        43.0        110.0
34            341          149.0       108.0        169.0
35            373          180.0       123.0        193.0
36            227          130.0        72.0        135.0
37            178           93.0        48.0        102.0
38            290          118.0        88.0        142.0
39            272          120.0        78.0        134.0
40            321          137.0        97.0        158.0
41            204          138.0        58.0        128.0
42            281          143.0        84.0        149.0
43            200          170.0        62.0        143.0
44            146          110.0        39.0        102.0
45            197          126.0        55.0        120.0
46            238          132.0        69.0        134.0
47            210          136.0        60.0        128.0
48            322          140.0        99.0        158.0
49            237          140.0        69.0        138.0
50            264          138.0        81.0        148.0

In [ ]:
# %load answers/03_Aggregations/ex-aggs.py

# Conclusion

You have now seen how to do a single aggregation, for example:

```python
(
    df
    .groupby('column')
    .mean()
)
```

And also that you can do multiple aggregations, with control over the output column name, for example:

```python
(
    df
    .groupby('column')
    .agg(min_col = ('old_col', 'min'),
         max_col = ('col_col', 'max')
        )
)
```

An important thing to note is that the pandas GroupBy object is **not a DataFrame until you perform some kind of aggregation function**. 

Once it is a dataframe, you can perform any DataFrame method, for example performing `.loc[]`.